.flight-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-same-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-group {
  min-width: 130px;
}
