body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .tabs-content {
    width: 700px;
  }

  .form-group {
    min-width: 236px !important;
  }
}
